// Mixins Here

.center(){
    display:flex;
    justify-content: center;
    align-content: center;
}

.btn(@sz; @colorB; @bgcolor; @colorF){
    display: flex;
    width: @sz;
    border: 2px solid @colorB;
    background-color: @bgcolor;
    color: @colorF; 
}

