// Mixins Here

.center(){
    display:flex;
    justify-content: center;
    align-content: center;
}

.btn(@sz; @bgcolor; @colorF){
    display: flex;
    width: @sz;
    background-color: @bgcolor;
    color: @colorF; 
}

